{% extends "navbar.html" %}
{% block content %}
	<div class="hometrans"><br><br></div>
	<div class="homedescdiv">
		<h2 class="about-text">How to use the website</h2>
		<h3 class="about-text">Search function</h3>
	    <p class="about-text">&emsp;&emsp;&emsp;In the home page there would be a text input box in the middle, type the keywords to search for products with the same keyword in it, click the search button to start the search.</p>
		<h3>View products</h3>
	    <p class="about-text">&emsp;&emsp;&emsp;In the navigation bar there is 4 tabs shpowing different categories of products in this website, click on them to view all products that belogns to that category.</p>
		<h3>View about and contacts</h3>
	    <p class="about-text">&emsp;&emsp;&emsp;In the navigation bar there is the about and contacts tabs, the about tab leads to this page and the contacts leads to the contacts of the owner of this website if you needed any support.</p>
		<h3>Accounts</h3>
	    <p class="about-text">&emsp;&emsp;&emsp;In the navigation bar there is a Account tab, hover over it to access the login page, you can create an account and login, after logging in, hovering on the same tab shows logout, cart and orders, click on logout to logout of your account, click on cart to view products in your shopping cart, and click on orders to view all the products you have ordered.</p>
	</div>
{% endblock content %}