{% extends "navbar.html" %}
{% block content %}
	<div class="producttrans"><br><br></div>
	<div class="product">
		<div class="grid-container">
			<div class="product-gridpics">
				<img class="grid-img" src="{{ url_for('static',filename=results[0][5]) }}"/>
			</div>
			<div class="product-griddesc">
				<h2>{{ results[0][3] }}</h2>
				Sold from <a href="{{ url_for('brands', brand=results[0][2]) }}">{{ results[0][2] }}</a>
				<h2>${{ results[0][7] }}</h2>
				<h5>{{ results[0][6] }} in stock</h5>
				<br>
				<p>{{ results[0][4] }}</p>
		        {% if session['Name'] %}
					<br>
					<a href="{{ url_for('addcart', acc_id = session['AccountID'], item_id = results[0][0]) }}">Order now</a>
		        {% endif %}
			</div>
		</div>
	</div>
{% endblock content %}